.movie-showtimes-details .ratings {
  margin-bottom: 10px;
}
.movie-showtimes-details .ratings .rating {
  margin-bottom: 0px;
}
.movie-showtimes-details .ratings .rating .score {
  font-weight: bold;
}
